@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins-Light.ttf);
}
body{
    font-family: "Poppins-Light", sans-serif !important; 
}
.btn
{
   background-color:#f4f4f4;
}
.navbar-default{
    background-color:#fff !important;
    border:none !important;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.09);
}
.navbar-header a
{   
    padding-top: 10px;
    color:#000 !important;
}
.navbar-nav
{
    padding-top: 45px;
    padding-bottom: 0px !important; 
} 
.navbar-nav li a{
    color:#404040 !important;
    font-size: 14px !important;
    font-weight: 500;
    padding-bottom: 5px !important;
} 
.navbar-nav li a:hover{
    border-style: solid;
    background-color: #fff !important;
    border-width: 0px 0px 2px 0px;
     border-color: #000;
    color:#000 !important;
} 
.hz  a:hover{
    background-color: #fff !important;
    color:#000 !important;
}
.header-img
{
  position:absolute;padding-top:10px;left:45%; 
}
@media (max-width: 460px) {
  .header-img
    {
      display:none; 
    }
}
.navbar-mobile
{
  border:none;   
}
.navbar-mobile 
{  
    font-size: 1em;
}
@media only screen and (max-width: 500px)
{
  .navbar-default
  {
    background-color:#fff !important;
    height: 45px;
    border:none !important;
  }
  .carousel
  {

   }
 
}

.navbar-brand
{	
	font-size: 24px;
}
.collapse.in{
    
    background-color:#f0f0f0 !important;
}
.spacer{
    height:1px;
}
.gap
{
	height: 50px;
}
.showcase-content
{
 border: solid 2px #000;
}

.footer-inline
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.footer-inline li {
    float: left;
}

.footer-inline li a {
    display: inline-block;
    color: #000;
    font-size: 12px;
    text-align: center;
    padding: 0px 20px 20px 0px;
    text-decoration: none;
}
.follow-icon
{
    display:inline-block;
}
.follow-icon-img
{
    position: relative;overflow: hidden;border-radius: 50%;
}
.carousel .item .active{height:100%;}
.carousel-inner{height:100%;}

.fill {
    width: 100%;
    height: 100%;
    min-height:600px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}
.carousel-caption{
    transform: translate3d(0px, 0px, 0px);
}

/*
*/
#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}

/*
*/
/*product landing*/
.product-banner-row
{
 padding: 20px 10px 20px 10px;
}
.product-banner
{
 background-color: #fff;
 padding: 10px 10px 10px 10px;
 margin: 10px 0px 10px 0px;
}
@media (min-width: 768px) {
  .banner-small
  {
    height:300px;padding: 10px 10px 10px 10px;
  }
  .banner-large
  {
    height:400px;padding: 10px 10px 10px 10px;
  }
}
/*product landing*/
.theme-color
{
	color: #FFA3B3;
}
.carousel-caption h1
{
    font-size:3.5em;
    font-weight:500;
    color:#fff;
}
.category-header
{	
    margin-top: 60px;
	background-color: #f1f2f4;
}
.category-header h1
{	padding-top: 30px;
	padding-bottom: 30px;
}
.category-subheader
{
	color: #7c7c80;
    font-size: 1.6rem;
    font-family: "Poppins-Light", sans-serif;
    line-height: 2.14286;
    font-weight: 300;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
@media only screen and (max-width: 500px)
{
  .category-header
  {
    display:none;
  }
 .category-subheader
    {
    	display:none;
    }
    .category-option{display:none;}
}
.category-sort-inline
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.category-sort-inline li {
    float: left;
}
.category-sort-inline li a {
    display: block;
    color: #000;
    font-size: 16px;
    text-align: center;
    padding: 0px 25px 0px 0px;
    text-decoration: none;
    padding-bottom: 5px;
}
.category-sort-inline li a:hover {
   border-style: solid;
   border-width: 0px 0px 1px 0px;
   border-color: #000;
   color:#000 !important;
}
.category-sort-inline-right
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.category-sort-inline-right li {
    float: right;
}
.category-sort-inline-right li a {
    display: block;
    color: #000;
    font-size: 16px;
    text-align: center;
    padding: 0px 25px 0px 0px;
    text-decoration: none;
    padding-bottom: 5px;
}
.category-sort-inline-right li a:hover {
   border-style: solid;
   border-width: 0px 0px 1px 0px;
   border-color: #000;
   color:#000 !important;
}
.product
{ display:table-cell;
  vertical-align:middle;
  text-align:center;
  height:380px;
  margin-top: 50px;
}

.product-img
{
  background-color: #fff;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  vertical-align:middle;
  height: 300px;
  width: 500px;
  border-bottom:solid 1px #f0f0f0;  
}
.product-img-overlayer{
    color:#000;
    position:absolute;
    height:300px;width: 100%;
    top: 0;left:0;
    background:rgba(0,0,0,0.1);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.product-img img
{
  max-height: 300px;
}
@media screen and (max-width: 480px)
{ .product
  {
    height:250px;
  }
  .product-img
  {
    height:200px;
  }
}
@media screen and (min-width: 480px)
{ 
  .product:hover
{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.12);
}
}
.button1 {
  position: absolute;
  display:inline-block;
  top: 30%;
  left:30%;
  justify-content:center;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  z-index: 5;
}
.product:hover .button1 {
  display: block;
  opacity: 1;
}
.product:hover .button2 {
  display: block;
  opacity: 1;
}
.product:hover .product-img-overlayer {
  display: block;
  opacity: 1;
}


.button2  {
  position: absolute;
  display:inline-block;
  top: 42%;
  left:30%;
  padding: 0px 19px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  z-index: 5;
}
 
.more-details
{
  display: none;
  opacity: 0;
  top:270px;
  padding-top: 10px;
  position: absolute;
  margin-right: -15px;
  margin-left: -15px;
  background-color: #fff !important;
}
@media (max-width: 600px) {
  .button1 {
   display: none!important;
   opacity: 0;
  }
   .button2 {
   display: none!important;
   opacity: 0;
  }
  .more-details {
   display: none!important;
   opacity: 0;
  }
  
}
button:active { 
    background-color: #FFA3B3 !important;
    color:#fff;
}
  .product:hover .more-details
  {
  display: block;
  opacity: 1;
  }
.side-img
{
  display:table-cell;
  vertical-align:middle;
  height: 100px;
  width: 100px;
  border:solid 1px #ccc;
}
.elevatezoom-gallery
{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  height: 100px;
  width:100px;
  max-height:100px;
}
.elevatezoom-gallery img
{
  max-height: 80px;
}
/*set a border on the images to prevent shifting*/
 #gallery_01 img{border:2px solid white;}
 
 /*Change the colour*/
 .active .side-img {border:2px solid #ccc !important;}

.single-product-img
{
  display:table-cell;
  vertical-align:middle;
  height: 450px;
  border-right: solid 1px #eee;
}
.single-product-image
{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  height: 450px;
  max-height:450px;
}
.single-product-image img
{
  max-height: 480px;
  border:none !important;
}
@media screen and (max-width: 480px)
{ 
    .single-product-img
    {
  display:table-cell;
  vertical-align:middle;
  height: 450px;
    }
    .single-product-image
  {
    display:table-cell;
  vertical-align:middle;
  text-align:center;
    height: 450px;
  width:600px;
  max-height:450px;
  }
  .single-product-image img
{
  max-height: 450px;
}
}
.single-product h1
{
	font-size: 2.2em;
	color: #000;
}
.single-product h5
{
	color: #7c7c80;
}
.product-details
{
	padding-top: 40px;
}
.product-details a
{
	font-size: 2.2em;
	color: #000;
	text-decoration: none;
}
.theme-btn
{
    height: 40px;background-color: #FFA3B3; border: none;  color: #fff;
}
.theme-btn:hover
{
    background-color: #000; border-color: #000; color: #fff;
}
.theme-btn1
{
   height: 40px; background-color: #fff; border: none;  color: #000;
}
.theme-btn1:hover
{
    background-color: #000; border-color: #000; color: #fff;
}


.theme-btn-lg
{
	height: 50px; background-color: #FFA3B3; border-color: #FFA3B3; border-style: solid; color: #fff;font-size: 1.4em; border-radius:0px;
}
.theme-btn-lg:hover
{
	 height: 50px; background-color: #000;border-color: #000; color: #fff;
}
.color
{
  height: 30px;width: 30px;border-radius: 50%;border:solid 3px #ccc;
}
.active-color
{
  border:solid 3px #000 !important; 
}

.related-product
{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  height:300px;
}

.related-product-img
{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  height: 250px;
  width: 500px;
  background-image:url("../image/imagenot.png"); 
  background-size: 60px 60px;
  background-position: center; 
  background-repeat:no-repeat;
}
.related-product-img img
{
  max-height: 250px;
}
@media screen and (max-width: 480px)
{ .product
  {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    height:200px;
  }
  .related-product-img
  {
    background-image:url("../image/imagenot.png"); 
    background-size: 30px 30px;
    height: 140px;
    width: 300px;
    background-position: center; 
    background-repeat:no-repeat;
  }
  .related-product-img img
    {
      max-height: 140px;
    }
}
.card
{   
    padding: 10px 10px 20px 10px;
    margin: 5px;
    border-radius: 5px;
    border: solid 1px #ccc;
    background-color: #fff;
}
.theme-btn-circle{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #FFA3B3; 
    border-color: #FFA3B3; 
    border-style: solid; 
    color: #fff;
    border-radius: 50%;
    margin: auto;
    display: block;
}
.well
{
   background-color: #fff;  
   border-style: none;
}
.info-swap
{
    list-style-type: none;
    overflow: hidden;
    position:relative;
    text-align: center;
}

.info-swap li {
    float: left;
    position:relative;
    text-align: center;
    display: inline-block;
}

.info-swap li a {
    display: block;
    color: #000;
    font-size: 1.2em;
    text-align: center;
    padding: 0px 20px 20px 0px;
    text-decoration: none;
}
.info-swap li a:active {
    display: block;
    color: #000;
    font-size: 1.2em;
    text-align: center;
    padding: 0px 20px 20px 0px;
     border-style: solid;
    border-width: 0px 0px 2px 0px;
     border-color: #000;
}

@media screen and (max-width: 1280px)
.quantity {
    width: 100%;
}
@media screen and (max-width: 1440px)
.quantity {
    width: 100%;
}
.quantity {
    float: none;
    width: 100%;
    display: inline-block;
    margin-right: 10px;
    margin: 0 4px 0 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 7px;
    border: 1px solid #e4e6eb;
}
.quantity .decrease {
    cursor: pointer;
    padding: 0 6px;
    display: inline-block;
    background: none;
    border: none;
}
.quantity .qty {
    width: 3.631em;
    text-align: center;
}
.quantity .qty {
    -moz-appearance: textfield;
    border-width: 0;
    width: 66px;
    font-size: 16px;
    font-size: 1.6rem;
    color: #23232c;
}
.increase .quantity .decrease {
    padding: 0;
}
.quantity .increase,.quantity .decrease {
    cursor: pointer;
    padding: 0 6px;
    display: inline-block;
    background: none;
    border: none;
}
.quantity
{
     border-style: solid;
    border-width: 1px 1px 1px 1px;
}
.slider-btn
{
    background-color: transparent;
    color: #fff;
    border: solid 2px #fff;
}
.slider-btn:hover
{
    background-color: #fff;
    color: #000;
    border-style: solid 2px #fff;
}
.carousel-caption {
    top: 30%;
    bottom: auto;
    height: 100%;
}
.carousel-caption-left {
    left: 10%;
}
.carousel-caption-right {
    right: 10%;
}

.showcase  h3 
{   color: #fff;
   background-color: #000;
   width:100%;
   padding-top:20px;
   padding-bottom:20px;
   opacity: 0.7;
   font-size:34px;
    position: absolute;
    display: block; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.showcase1  h3 
{   color: #fff;
   background-color: #000;
   border-radius:50%;
   padding-top:20px;
   padding-bottom:20px;
   opacity: 0.7;
   font-size:34px;
    position: absolute;
    display: block; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dropdown ul li a
{
        font-size: 1em;
}
.dropdown-menu li a:hover
{
    background-color: #ccc;
    border:none;
}
ul li.hz 
{
        display: inline-flex !important;
}
.dropdown-toggle
{
        font-size: 14px !important;
}
.theme-select
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #000;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.comment
{
    border:solid 2px #ccc;
}
.list-group-item
{
    border:none;
}
@media only screen and (min-width: 500px)
{
.cart-line
{
    padding-top: 40px;
}
}
@media only screen and (max-width: 500px)
{
.cart-line
{
    text-align: center;
}
}
.cart-layout
{
}

.theme-btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 15px 15px;
  background-color: #FFA3B3;
  font-size: 24px;
  justify-content: center;
  line-height: 1.5;
  float: left;
  border:none;
  border-radius: 50%;
}
.theme-btn-circle:hover {
  color: #000;
}

.pagination li a
{
    color:#FFA3B3 !important;
}

.item-banner {
  position: relative;
  margin: 1%;
  overflow: hidden;
}
.item-banner img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-banner:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.product-circle img
{
  position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
    border-radius: 50%;
}
.product-circle
{
    height: 250px;
    width: 250px;
}
.btn
{
  border-radius: 0px !important;
}
select
{
  border-radius: 0px !important;
  border: none;
  width: 100%;
}
.top1 
{
  position: relative;
  top:0; right:0;
  bottom:0; left:0;
}

.left
{
  position: relative;
  border:none;background-position: 100% 50%;right:0;
}
.right
{
  position: relative;
  border:none;background-position: 0% 50%;left:0;
}
.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
    left: 0;
}



.vertical .carousel-inner {
  height: 100%;
}

.carousel1.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel1.vertical .active {
  top: 0;
}

.carousel1.vertical .next {
  top: -100%;
}

.carousel1.vertical .prev {
  top: 100%;
}

.carousel1.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel1.vertical .active.left {
  top: -100%;
}

.carousel1.vertical .active.right {
  top: 100%;
}

.carousel1.vertical .item {
    left: 0;
}